<div class="page-wrapper">

    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->

    <!-- Main Header-->
    <!--End Main Header -->

    <!-- Info Section -->
    <div class="login-section">
      <div class="image-layer" style="background-image: url(assets/images/background/12.jpg);"></div>
      <div class="outer-box">
        <!-- Login Form -->
        <div class="login-form default-form">
          <div class="form-inner">
            <h3>Create Account</h3>

            <!--Register Form-->
            <form [formGroup]="form" (ngSubmit)="signUp()">
              <div class="form-group">
                <div class="btn-box row">
                  <div class="col-lg-6 col-md-12">
                    <a [routerLink]="['/register']"class="theme-btn btn-style-seven">
                      <i class="la la-user"></i> Candidate 
                    </a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <a [routerLink]="['/registerRecruiter']"class="theme-btn btn-style-four">
                      <i class="la la-briefcase"></i> Recruiter 
                    </a>
                  </div>
  
                </div>
  
              </div>

              <div class="form-group">
                <label>Fullname</label>
                <input type="text" name="fullName" placeholder="Fullname" formControlName="fullName" class="form-control" required
                  [ngClass]="{'is-invalid': fullnameControl?.invalid && fullnameControl?.touched}">
                <div class="invalid-feedback" *ngIf="fullnameControl?.hasError('required') && fullnameControl?.touched" class="error-msg" style="color: red;">
                  Please enter your fullname.
                </div>
                <div class="invalid-feedback" *ngIf="fullnameControl?.hasError('minlength') && fullnameControl?.touched" class="error-msg" style="color: red;">
                  Fullname must be at least 3 characters long.
                </div>
              </div>

              
              <div class="form-group">
                <label>Phone Number</label>
                <div class="d-flex align-items-center">
                  <div class="custom-dropdown" (click)="dropdownOpen = !dropdownOpen">
                    <div class="selected-country">
                      <img *ngIf="selectedCountry" [src]="getCountryFlag(selectedCountry)" alt="{{ selectedCountryName }} flag" style="width: 20px; height: 15px; margin-right: 5px;"/>
                      {{ selectedCountryCode || 'Select' }} <!-- Display the selected country code -->
                    </div>
                    <div class="dropdown-list" *ngIf="dropdownOpen">
                      <div *ngFor="let country of countries" (click)="selectCountry(country)">
                        <img [src]="country.emojiFlag" alt="{{ country.name }} flag" style="width: 20px; height: 15px; margin-right: 5px;"/> {{ country.phoneCode }} <!-- Display phone code instead of country name -->
                      </div>
                    </div>
                  </div>
                  <input type="text" name="phone" placeholder="Phone Number" maxlength="10"(input)="formatPhoneInput($event)"
                    formControlName="phone" class="form-control phone-input" [ngClass]="{'is-invalid': phoneControl?.invalid && phoneControl?.touched}"  required>
                </div>
                <div class="invalid-feedback" *ngIf="phoneControl?.hasError('required') && phoneControl?.touched" style="color: red;">
                  Please enter your phone number.
                </div>
                <div class="invalid-feedback" *ngIf="phoneControl?.hasError('pattern') && phoneControl?.touched" style="color: red;">
                  Please enter a valid phone number (numbers only).
                </div>
              </div>
            
            
            
            
            
            
            
            
              
              <!-- <div class="flex items-center px-3 py-2 bg-gray-50 border-r border-gray-300">
                <img alt="Indonesian flag" class="w-5 h-5 mr-2" height="20" src="https://storage.googleapis.com/a1aa/image/1V38830yiLqkrc6k9cjzPylSHdgNRMJSxKsMR1YPSdo.jpg" width="20"/>
                <select class="bg-gray-50 text-gray-700 focus:outline-none" id="country-code">
                <option value="+62">
                  +62
                </option>
                </select>
              </div> -->



              <!-- <div class="form-group">
                <label>Phone Number</label>
                <input type="text" name="phone" placeholder="Phone Number"maxlength="8" formControlName="phone" class="form-control" required>
                <div class="invalid-feedback" *ngIf="phoneControl?.hasError('required') && phoneControl?.touched" class="error-msg" style="color: red;">
                    Please enter your phone number.
                </div>
                <div class="invalid-feedback" *ngIf="phoneControl?.hasError('pattern') && phoneControl?.touched" class="error-msg" style="color: red;">
                    Please enter a valid phone number (numbers only).
                </div>
            </div> -->

              <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" placeholder="Email"formControlName="email" class="form-control" required
                [ngClass]="{'is-invalid': emailControl?.invalid && emailControl?.touched}" >
                <div class="invalid-feedback" *ngIf="emailControl?.hasError('required') && emailControl?.touched" class="error-msg" style="color: red;">Please enter your email.</div>
                <div class="invalid-feedback" *ngIf="emailControl?.hasError('email') && emailControl?.touched" class="error-msg" style="color: red;">
                  Please enter a valid email address
                </div>
              </div>
              
              <div class="form-group">
                <label>Password</label>
                <input id="password-field" type="password" name="password" value="" placeholder="Password" formControlName="password" class="form-control"
                [ngClass]="{'is-invalid': passwordControl?.invalid && passwordControl?.touched}">
                <div class="invalid-feedback" *ngIf="passwordControl?.hasError('required') && passwordControl?.touched" class="error-msg" style="color: red;">Please enter your password.</div>
                <div *ngIf="passwordControl?.hasError('minlength') && passwordControl?.touched" class="invalid-feedback" style="color: red;">
                  Password must be at least 5 characters long.
                </div>
              </div>
              

              <div class="form-group">
                <button class="theme-btn btn-style-one " type="submit" name="Register">Register</button>
              </div>
            </form>

            <div class="bottom-box">
              <div class="divider"><span>or</span></div>
              <div class="btn-box row">
                <div class="col-lg-6 col-md-12">
                  <a href="#" class="theme-btn social-btn-two facebook-btn"><i class="fab fa-facebook-f"></i> Log In via Facebook</a>
                </div>
                <div class="col-lg-6 col-md-12">
                  <a href="#" class="theme-btn social-btn-two google-btn"><i class="fab fa-google"></i> Log In via Gmail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End Login Form -->
      </div>
    </div>
    <!-- End Info Section -->


  </div><!-- End Page Wrapper -->

