<div class="user-sidebar">
    <div class="sidebar-inner">
      <ul class="navigation">
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/candidateDashboard"> <i class="la la-home"></i> Dashboard</a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/profil"><i class="la la-user-alt"></i>My Profile</a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/candidateDashboard/resume"> <i class="la la-file-invoice"></i>My Resume</a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/candidateDashboard/appliedJobs"><i class="la la-briefcase"></i> Applied Jobs </a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/candidateDashboard/jobAlerts"><i class="la la-bell"></i>Job Alerts</a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/candidateDashboard/shortlistedJobs"><i class="la la-bookmark-o"></i>Shortlisted Jobs</a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/candidateDashboard/cvManager"><i class="la la-file-invoice"></i> CV manager</a>
        </li>
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/candidateDashboard/packages"><i class="la la-box"></i>Packages</a>
        </li>
        <!-- <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/home/candidateDashboard/messages"><i class="la la-comment-o"></i>Messages</a>
        </li> -->
        <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/changepassword"><i class="la la-lock"></i>Change Password</a>
        </li>
        <li>
          <a (click)="signOut()"><i class="la la-sign-out"></i>Logout</a>
        </li>
        <li>
          <a routerLink="/home/candidateDashboard/deleteProfile"><i class="la la-trash"></i>Delete Profile</a>
        </li>
      </ul>
  
      <div class="skills-percentage">
        <h4>Skills Percentage</h4>
        <p>Put value for "Cover Image" field to increase your skill up to "85%"</p>
  
        <!-- Pie Graph -->
        <div class="pie-graph">
          <div class="graph-outer">
            <input type="text" class="dial" data-fgColor="#7367F0" data-bgColor="transparent" data-width="234" data-height="234" data-linecap="normal" value="30">
            <div class="inner-text count-box"><span class="count-text txt" data-stop="30" data-speed="2000"></span>%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  