<div class="page-wrapper">
  <!-- Preloader -->
  <!-- <div class="preloader"></div> -->

  <!-- Info Section -->
  <div class="login-section">
    <div class="image-layer" style="background-image: url(assets/images/background/12.jpg);"></div>
    <div class="outer-box">
      <!-- Login Form -->
      <div class="login-form ">
        <div class="form-inner">
          <h3>Verify Your Mobile</h3>
          <div class="d-flex justify-content-center">
            <input *ngFor="let item of otpArray; let i = index"
                   type="text"
                   class="otp-input form-control"
                   maxlength="1"
                   [id]="'otp' + i"
                   [(ngModel)]="otpValues[i]"
                   (input)="onInputChange(i, $event)"
                   (keydown.backspace)="moveToPrev(i, $event)"
                   inputmode="numeric">
          </div>

          <!-- Error Message -->
          <div *ngIf="errorMessage" class="text-danger error-message">{{ errorMessage }}</div>
          <div class="bottom-box">
            <div class="form-group">
              <button class="theme-btn btn-style-one" type="submit" (click)="submitOTP()" name="log-in">Verify Code</button>
            </div>
            <div class="text">
              <span *ngIf="!timerExpired">Didn’t receive the code? <strong>Resend code in {{ timer }} seconds</strong></span>
              <span *ngIf="timerExpired">
                <span>Didn’t receive the code?
                <strong><a (click)="resendCode()" class="resend-link">Resend the code</a></strong>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--End Login Form -->
    </div>
  </div>
  <!-- End Info Section -->
</div><!-- End Page Wrapper -->