<div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <app-header></app-header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

  
      <!-- User Sidebar -->
      <app-side-bar-admin *ngIf="isAdmin"></app-side-bar-admin>
      <app-side-bar-super-admin *ngIf="isSuperAdmin"></app-side-bar-super-admin>
      <app-side-bar-candidate *ngIf="isCandidate"></app-side-bar-candidate>
      <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>Change Password</h3>
          <div class="text">Ready to jump back in?</div>
        </div>

        <!-- Ls widget -->
        <div class="ls-widget">
          <div class="widget-title">
            <h4>Change Password</h4>
          </div>

          <div class="widget-content">
            <form class="default-form"[formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
              <div class="row">
                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label>Old Password </label>
                  <input type="password" name="oldPassword" placeholder="Enter the Old Password"formControlName="oldPassword"required="">
                  <div *ngIf="oldPasswordControl?.invalid && oldPasswordControl?.touched" class="error-msg" style="color: red;">
                    Please enter your old password.
                </div>
                </div>

                <div class="form-group col-lg-7 col-md-12">
                  <label>New Password</label>
                  <input type="password" formControlName="newPassword" placeholder="Enter the New Password" required>
                  <div *ngIf="newPasswordControl?.invalid && newPasswordControl?.touched" class="error-msg" style="color: red;">
                      <div *ngIf="newPasswordControl?.hasError('required')">Please enter your new password.</div>
                      <div *ngIf="newPasswordControl?.hasError('minlength')">Password must be at least 5 characters long.</div>
                  </div>
              </div>

                <!-- Input -->
                <div class="form-group col-lg-7 col-md-12">
                  <label>Confirm Password</label>
                  <input type="password" name="confirmPassword"formControlName="confirmPassword" placeholder="Confirm the password">
                  <div *ngIf="confirmPasswordControl?.invalid && confirmPasswordControl?.touched" class="error-msg" style="color: red;">
                    Please confirm your new password.
                </div>
                <div *ngIf="passwordsMismatch" class="error-msg" style="color: red;">
                    New password and confirm password do not match.
                </div>
                </div>

                <!-- Input -->
                <div class="form-group col-lg-6 col-md-12">
                  <button class="theme-btn btn-style-one"type="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard -->
