
    <div class="page-wrapper dashboard ">
  
      <!-- Preloader -->
      <!-- <div class="preloader"></div> -->
  
      <!-- Header Span -->
      <span class="header-span"></span>
  
      <!-- Main Header-->
      <app-header></app-header>
      <!--End Main Header -->
  
      <!-- Sidebar Backdrop -->
      <div class="sidebar-backdrop"></div>
  
      <!-- User Sidebar -->
      <app-side-bar-super-admin></app-side-bar-super-admin>
      <!-- End User Sidebar -->
  
      <!-- Dashboard -->
      <section class="user-dashboard">
        <div class="dashboard-outer">
          <div class="upper-title-box">
            <h3>Levels</h3>
            <div class="text">Ready to jump back in?</div>
          </div>
  
          <div class="row">
            <div class="col-lg-12">
              <!-- Ls widget -->
              <div class="ls-widget">
                <div class="tabs-box">
                  <div class="widget-title">
                    <h4>My Levels</h4>
                    <a routerLink="/home/superAdmin/addLevel" class="btn btn-primary float-left"><i class="la la-plus"></i></a>
                  </div>
  
                  <div class="widget-content">
                    <div class="table-outer">
                      <table class="default-table manage-job-table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            
                            <th>Actions</th>
                          </tr>
                        </thead>
                  
                        <tbody>
                          <tr *ngFor="let level of levels"> <!-- Use *ngFor to iterate over levels -->
                            <td>{{ level.name }}</td>
                            
                            <td>
                              <div class="option-box">
                                <ul class="option-list">
                                  <li>
                                    <button (click)="updateLevel(level.id)" data-text="Update Level">
                                      <span class="la la-pencil"></span> <!-- Icône de mise à jour -->
                                    </button>
                                  </li>
                                  <li>
                                    <button (click)="deleteLevel(level.id)" data-text="Delete Level">
                                      <span class="la la-trash"></span>
                                    </button>
                                  </li>
                                </ul>
                              </div>  
                            </td>                         
                          </tr>
                          <tr *ngIf="levels.length === 0"> <!-- Show message if no levels -->
                            <td colspan="3">No levels available.</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
          </div>
        </div>
      </section>
      <!-- End Dashboard -->
  
     
    </div><!-- End Page Wrapper -->